body, html {
    height: 100%;
}

.parallax { 
    /* Color gradient added */
    background-image: 
    linear-gradient(
        rgba(110, 110, 110, 0.1),
        rgba(110, 110, 110, 0.6)
      ),
    url("images/bg\ ocean.jfif");

    /* Full height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.nav-item {
    font-size: 1.2rem;
    border-right: 1px solid rgb(182, 182, 182);
}

#nav-text {
    color: white;
}

a.hover {
    color: gray;
}

.nav-item:last-child{
    border:none;
}

.jumbotron {
    padding-bottom: 0;
    padding: 6rem; 
}

.jumbotron2{
    padding: 5rem;
}

#picture {
    width: 200px;
    height: auto; 
    float:left;
    margin-right: 60px;
    border-radius: 20px;
}

#CCcaption{
    color: black;
    font-size: 20px;
    background-color: rgb(128, 128, 128, 0.9);
}

#aboutSection {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-right: 100px;
}

#aboutText {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#contactInfo{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#carouselContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}

#contactInfo{
    margin: 100px 0;
    font-family: 'Open Sans', sans-serif;
}

#subheading {
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.fa-github {
    font-size: 3rem;
    color:black;
}

.fa-linkedin {
    font-size: 3rem;
}
.footer {
    text-align: center;
    background-color: #5185b9;
    color: white;
    padding: 20px 0;
    border-top: 2px solid rgb(180, 180, 180);
    font-family: 'Open Sans', sans-serif;
}

/*Media Queries*/

@media(max-width:768px){
    #nav-text {
        color: black;
    }
}

@media(max-width:576px){
    #jumboName {
        font-size: 3.3rem;
    }
    .jumbotron {
        padding: 4rem;
    }
    #nav-text {
        color: black;
    }
    
}